DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
RESEND_API_KEY=re_9Gqbiapx_228MtDMeCBqx5wZgwCw9Giw5
RESEND_FROM_EMAIL=
RESEND_ADMIN_TO_EMAILS=
ADMIN_EMAILS=
ADMIN_SEED_PASSWORD=
CRON_SECRET=
